{% load staticfiles %}

<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Interesting Sign In Form</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'  %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css'  %}">
  </head> 
  <body>


  <div class="container-fluid s1">
  
  <div class="row rr1">
  
  <div class="col-sm-3">
      <h1>My First Bootstrap Page</h1>
    <p class="text-primary">Resize this responsive page to see the effect!</p> 
  </div>

  <div class="col-sm-6" class="text-center">
      <h1 class="text-center">My First Bootstrap Page</h1>
    <p class="text-center">Resize this responsive page to see the effect!</p> 
  </div>  
   
  <div class="col-sm-3">
      <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p> 
  </div>

  </div>
  
  
  </div>






    
    
  
  </body>
</html>
